body{

 width: 100vh;
 height: auto;
 background-color: blue;
}

div{

    width: 500px;
    height: auto;
    position: absolute;
    margin-left: 600px;
    margin-top: 400px;
    padding-left: 200px;
}

.button{

    font-weight: bold;
    font-size: 20px;
    color:aliceblue;
    background-color: black;
    border-radius: 5px;
}



